EMAIL_API_TOKEN = "865b3678-9d33-416d-9cd7-8b1b1a5bfd5f"
ACCOUNT_SID = "ACb08e9d250a6d8e787aef955e3b6cfd9e"
AUTH_TOKEN = "74fe0ddd37ac4a11884f8c0db02894ac"
TWILIO_PHONE_NUMBER = "+17372508034"

PUBLISHABLE_KEY ="pk_test_51UEj8VGU7c1Qr1XmD6sWwWmwTDL1SBPokqYdwM0DM6t8WOxVbZxQdBjO7pMHhPsMKC0I8XcpMPBnYp5zxQD3MKO800uNejHFcT"
SECRET_KEY = "sk_test_51UEj8VGU7c1Qr1Xm88uyoGvsvn7W0FehZCs0L8bVMd1Yag7YdX8YZDZsN4rlRvFVA8tEQqCEwTPKgP0YPn9RKWkO00PdOItHsD"
DJANGO_SECRET_KEY="9nbx&e$69#0nwb-#=-pcet*9!r=jtw+$xfy#(x(rv0p)p&u4w4"
