{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="#">Home</a>
        <a href="{% url 'explore' %}">Explore</a>
        <a href="#">profile</a>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
    <p>© 2026 My Website. All Rights Reserved.</p>
</footer>
</body>
</html>