{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center mb-4">Trending</h1>

    <div class="row g-4">

        <div class="col-md-4">
            <div class="card">
                <img src="https://picsum.photos/400/250?random=1" class="card-img-top" alt="Playlist">
                <div class="card-body">
                    <h5 class="card-title">Trending Hits</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://picsum.photos/400/250?random=2" class="card-img-top" alt="Playlist">
                <div class="card-body">
                    <h5 class="card-title">Chill Vibes</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://picsum.photos/400/250?random=3" class="card-img-top" alt="Playlist">
                <div class="card-body">
                    <h5 class="card-title">Top Music</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://picsum.photos/400/250?random=4" class="card-img-top" alt="Restaurant">
                <div class="card-body">
                    <h5 class="card-title">Popular Restaurants</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://picsum.photos/400/250?random=5" class="card-img-top" alt="Restaurant">
                <div class="card-body">
                    <h5 class="card-title">Best Food Spots</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://picsum.photos/400/250?random=6" class="card-img-top" alt="Restaurant">
                <div class="card-body">
                    <h5 class="card-title">Trending Food</h5>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}